@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:  #3b3e47;
  color: #ededed;
}

footer {
  background-color: #212832;
}


